.IP_Address_Validator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  .IP_Address_Validator  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .IP_Address_Validator h1 {
    margin-top: 0;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  
  .IP_Address_Validator form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .IP_Address_Validator label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .IP_Address_Validator input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  .IP_Address_Validator button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #0077cc;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .IP_Address_Validator button:hover {
    background-color: #0066b2;
  }
  
  .IP_Address_Validator table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .IP_Address_Validator th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .IP_Address_Validator th {
    font-size: 16px;
    font-weight: bold;
  }
  
  .IP_Address_Validator .backbtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .IP_Address_Validator .backbtn:hover {
    background-color: #999;
  }
  